* {
  box-sizing: border-box;
}

body, html {
  height: auto;
  min-height: 100vh;
  overflow-y: auto;
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  min-height: 50vh;
}

.side-panel {
  flex: 1;
  background: linear-gradient(to bottom, #ff73ad, #fff0f6);
}

.register-form {
  flex: 1;
  padding: 0px 80px 80px 10px;
  display: flex;
  font-family: 'Inter';
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.register-form h1 {
  font-size: 40px;
  margin: 0 0 20px 0;
  font-weight: bold;
  color: #333;
}

label {
  margin-bottom: 5px;
  font-size: 18px;
  color: #666;
}

input {
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  font-family: 'Inter';
  font-size: 18px;

  border-radius: 8px;
  background-color: #f5f5f5;
  
}

.register-button {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: 'Inter';
  padding: 12px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* From Uiverse.io by satyamchaudharydev */ 
.button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #ff73ad;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

input.error {
  border: 2px solid red;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
  
}
