
<div class="marquee">
    <div class="track">
      <div class="content">&nbsp;Infinite Marquee with long sentence Infinite Marquee with long sentence Infinite Marquee with long sentence Infinite Marquee with long sentence Infinite Marquee with long sentence</div>
    </div>
</div>

<nav class="navbar">

    

    <!-- Nivel superior -->
    <div class="nav-top">

        <div class="nav-icons">

            <i class="search-icon">
                <img src="\assets\icons8-search-100.png" alt="Hikari Paper">
            </i>
            
          </div>

      <div class="logo">
        <img src="assets/logo_with_letters.png" alt="Hikari Paper">
        
      </div>
      <div class="nav-icons">
        
        <i class="cart-icon">
            <img src="assets\icons8-cart-100.png" alt="Hikari Paper" style="cursor: pointer;" (click)="irAlCarrito()">
        </i>
        <i class="user-icon">
            <img src="\assets\icons8-user-48.png" alt="Hikari Paper">
        </i>
      </div>
    </div>
 
    <!-- Nivel inferior -->
    <div class="nav-bottom">
      <div class="nav-links">
        <a href="#">Catálogo</a>
        <a href="#">Stickers</a>
        <a href="#">Lápices</a>
        <a href="#">Plumones</a>
        <a href="#">Plumas</a>
        <a href="#">Cintas</a>
        <a href="#">Inventario</a>
        <a href="#">Sobre Nosotros</a>
      </div>
    </div>
  </nav>
