* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  
}

.container {
  display: flex;
  height: 100vh;
}

.login-form {
  flex: 1;
  padding: 80px;
  margin: 4%;
  display: flex;
  font-family: 'Inter';
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.login-form h1 {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #333;
}

label {
  margin-bottom: 5px;
  font-size: 18px;
  color: #666;
}

input {
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background-color: #f5f5f5;
  font-size: 18px;
}

input.error {
  border: 2px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-bottom: 8px;
}

form {
  all: unset; /* Remueve todos los estilos por defecto del form */
  display: contents; /* Hace que el form "desaparezca" en términos de layout */
}

.login-button {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-text {
  margin-top: 20px;
  font-weight: bold;
  align-self: center;
  
}

.forgot-text {
  margin-top: 20px;
  font-weight: normal;
  color: #2308b9;
  
}

.register-button {
  margin-top: 10px;
  background-color: #eeeeee;
  border: none;
  font-family: 'Inter';
  font-size: 18px;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
}

.side-panel {
  flex: 1;
  background: linear-gradient(to bottom, #f8f6fa, #d0a8fa);
}


/* From Uiverse.io by satyamchaudharydev */ 
.button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #d08ff5;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }

  
}


