/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Jura';
    src: url('/assets/Jura-VariableFont_wght.ttf') format('truetype'); /* Agregar '/' al inicio */
    
    font-weight: normal;
    font-style: normal; 
  }

  @font-face {
    font-family: 'Inter';
    
    src: url('/assets/Inter-VariableFont_opsz,wght.ttf') format('truetype'); /* Agregar '/' al inicio */
    font-weight: normal;
    font-style: normal; 
  }
  
  
  
  